body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #638f65;
}

header {
    background: url('/static/images/banner2.png') no-repeat center/cover;
    height: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.heading1 {
    color: #406bfe; 
    text-align: center;
    font-size: 3.2rem; 
    font-weight: bolder;
    text-transform: uppercase;
    padding: 15px 10px; 
    display: inline-block;
}    

.button-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #d9f9d9;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    margin: 80px auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.round-button {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #e30808;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s;
    text-decoration: none;
    cursor: pointer;
}

.round-button:hover {
    transform: scale(1.1);
    background-color: #00d363;
}

.btn{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 50px 0;
}

.advertisement {
    background: url('/static/images/ad.jpeg') no-repeat center/cover;
    width: 100%; 
    height: 600px; 
    border-radius: 8px; 
    margin: 20px auto; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center;
    justify-content: center;
}


footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        background: url('/static/images/header.jpg') no-repeat center/cover;
        height: 180px; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-bottom: 5px solid black;
    }

    .heading1 {
        color: white; 
        text-align: center;
        font-size: 2.2rem; 
        font-weight: bolder;
        text-transform: uppercase;
        padding: 15px 10px; 
        display: inline-block;
        background-color: #406bfe;
        border-radius: 8px;
        border: 2px solid black;
    }    

    .round-button {
        width: 100px; 
        height: 100px;
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .button-container {
        width: 80%;
        padding: 20px;
        align-items: center;
        text-align: center;  
    }
}

@media (max-width: 450px) {
    header {
        background: url('/static/images/header.jpg') no-repeat center/cover;
        height: 180px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .heading1 {
        font-size: 1.8rem; 
        padding: 10px 8px; 
        border-radius: 6px; 
    }    

    .round-button {
        font-size: 1.5rem;
        margin-bottom: 15px; 
    }

    .button-container {
        width: 80%;
        padding: 15px;
        border-radius: 6px; 
    }
}